@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*
{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

main
{
    display: flex;

    width: 19rem;
    padding: 0.7rem;

    gap: 0.7rem;
}

img,
blockquote
{
    height: 4.75rem;
}

blockquote
{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

a
{
    text-decoration: none;
}

#udemy
{
    color: #eb5352;
}
