@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*
{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

main
{
    display: flex;

    width: 21rem;
    padding: .5rem;

    grid-gap: .5rem;
}

img,
blockquote
{
    height: 6rem;
}

blockquote
{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;

    overflow-y: scroll;

    overflow-wrap: break-word;
}

blockquote::-webkit-scrollbar
{
    width: 0;
}

a
{
    text-decoration: none;
}

#udemy
{
    color: #eb5352;
}
